<%- include ../partials/header.ejs %>

<form method="post">
  <input type="text" name="name"/>
  <input type="radio" id="importanceChoice1" name="importance" value="low-priority" />
  <label for="importanceChoice1">low-priority</label>
  <input type="radio" id="importanceChoice2" name="importance" value="important" />
  <label for="importanceChoice2">important</label>
  <input type="radio" id="importanceChoice3" name="importance" value="urgent" />
  <label for="importanceChoice1">urgent</label>
  <button type="submit">Submit</button>
</form>

<%- include ../partials/footer.ejs %>
