<h1>I'm the home page!</h1>

<p>
  Can't decide what to do?<br>
  Let us decide for you!
</p>

<p>
  Simply make a todo list and hit the "Choose" button- we'll tell you what to do
</p>

<p>
  No more being paralyzed by indecision
</p>

<button>signup</button>
<button>login</button>

<a href="/">I don't want to sign up yet, just let me make a todo list</a>
