<%- include ../partials/header.ejs %>

<form method="post">
  <label for="name">List Name:</label>
  <input type="text" name="name"/>
  <button type="submit">Submit</button>
</form>

<%- include ../partials/footer.ejs %>
