<h1>Signup</h1>

<form method="post" action="/signup" class="new-user-form">
  <pre class="new-user-form-errors"></pre>
  <label>
    <span>Email address:</span>
    <input type="text" name="email" />
  </label>
  <label>
    <span>Password:</span>
    <input type="password" name="password" />
  </label>
  <input type="submit" value="Signup">
</form>
